NODE_ENV=development
PORT=5000
# CLIENT_ORIGIN=https://uptula.com
CLIENT_ORIGIN=http://localhost:3000
DB_HOST=localhost
DB_PORT=3306
# DB_USER=bmcjatrn_uptulajob
DB_USER=root
DB_NAME=bm


DB_PASSWORD=
JWT_SECRET=46937
# JWT_EXPIRES_IN=7d
EMAIL_USER=uptula
EMAIL_PASS=oedd ohcl abra isbd
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
DROPHELLO_AUTH_KEY=
DROPHELLO_SENDER_ID=
DROPHELLO_ENTITY_ID=
DROPHELLO_TEMPLATE_ID=
DROPHELLO_BASE_URL=http://sms.drophello.com/API

# --- Confirmed from sms.drophello.com/API-Docs.php ---
DROPHELLO_SEND_URL=http://sms.drophello.com/API/sms-api.php
DROPHELLO_SEND_METHOD=GET
DROPHELLO_PARAM_AUTHKEY=auth
DROPHELLO_PARAM_MOBILE=
DROPHELLO_PARAM_MESSAGE=
DROPHELLO_PARAM_SENDER=
DROPHELLO_PARAM_DLT_TEMPLATE_ID=
DROPHELLO_PARAM_ENTITY_ID=